<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2012-2013 Trento RISE
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
         http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either   express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.trentorise.smartcampus.jp"
    android:sharedUserId="eu.trentorise.smartcampus.shared"
    android:sharedUserLabel="@string/app_uid_label"
    android:versionCode="18"
    android:versionName="0.12.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:logo="@drawable/ic_logo"
        android:theme="@style/Theme.Journeyplanner" >
        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <intent-filter>
                <action android:name="eu.trentorise.smartcampus.START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddressSelectActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name=".StopSelectActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name=".ParkingMapActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name=".LegMapActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name=".PlanJourneyActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Journeyplanner"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="eu.trentorise.smartcampus.jp.NAVIGATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MonitorJourneyActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Journeyplanner"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".SavedJourneyActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Journeyplanner"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Journeyplanner"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="eu.trentorise.smartcampus.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="eu.trentorise.smartcampus.journey" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notifications.NotificationsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name=".notifications.BroadcastNotificationsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name=".SmartCheckActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_smart_check" >
        </activity>
        <activity
            android:name=".Launcher"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Journeyplanner"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>